/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: #fafafa !important;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h5 {
    font-weight: bold !important;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 7px 14px 0 rgba(65,69,88,.1), 0 3px 6px 0 rgba(0,0,0,.07);
}

.media {
    padding: 30px 20px;
    border-radius: 4px;
}

.media-body p {
    margin-bottom: 0;
}

.avail-bal {
    background: #f8e6f3;
}

.avail-bal img {
    width: 20%;
    background: #ff5bc9;
    border-radius: 50%;
    padding: 10px;
}

.total-cred  {
    background: #d5f3e7;
}

.total-cred img {
    width: 20%;
    background: #47d5a0;
    border-radius: 50%;
    padding: 10px;
}

.total-debt  {
    background: #f3c0c1;
}

.total-debt img{
    width: 20%;
    background: #e55756;
    border-radius: 50%;
    padding: 10px;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, 
.mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #1e6bd9;
}

.mat-stroked-button:not([disabled]) {
    border-color: #1e6bd9;
    background: #f4f4fe;
}

.mat-stroked-button{
    border: 1px solid #1e6bd9 !important;
    line-height: 32px !important;
    height: 34px;
}

.attach-money-icon{
    font-size: 14px;
    height: 20px !important;
    width: 20px !important;
    color: orangered;
    font-weight: bold;
    background-image: linear-gradient(-90deg, darkorange, yellow);
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
    padding-left: 2px;
    border: 1px solid orangered;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #1e6bd9;
}

.btn-support {
    position: fixed !important;
    bottom: 25px;
    right: 50px;
}

.btn-support .mic-icon {
    height: 16px;
    width: 16px; 
    font-size: 16px;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: #1e6bd9;
    font-size: 12px;
}

.date-range-icon {
    font-size: 13px;
    width: 12px !important;
    height: 12px !important;
    vertical-align: text-top;
}

.table h6 {
    margin-bottom: 0;
}

.table .text-muted {
    font-size: 12px;
}

.table td, .table th {
    vertical-align: middle !important;
}

.table th {
    border-top: 0 !important;
}

.mat-form-field-infix {
    border: 2px solid #f8ecc3;
    padding: 8px !important;
    background: #fbf7ee;
    border-radius: 4px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: .5em;
}

ul li a {
    color: #fff !important;
    border-left: 1px solid cornflowerblue;
    font-weight: 500;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}
